
{%extends 'base.html'%}
{% load static %}
{% block content%}
{% include 'sidebar.html'%}
<link rel="stylesheet" type="text/css" href="{% static 'MainPage/mainpage.css' %}">
    <section class="Section2">
        <div class="BlogContainer">
            {% for Blog in Blogs %}
                <div class="Blog" id="{{Blog.id}}" username="{{Blog.user.username}}" onclick="location.href='/Blog/{{Blog.id}}'">
                    <h1>{{Blog.title}}</h1>
                    <p >{{Blog.story|truncatewords:"30"}}</p>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content%}