        <div class="content">
            <section class="Section1">
                <button onclick="location.href='/'" class="MobileHome">Home</button>
                <button onclick="location.href='/auth/logout'" class="MobileLog-out" style="color: red;">Log-out</button>
                <div class="categories">
                    <h1>Categories</h1>
                    <ul>
                        <li><a href="/category/comedy">Comdedy</a></li>
                        <li><a href="/category/romantic">Romantic</a></li>
                        <li><a href="/category/mystery">Mystery</a></li>
                        <li><a href="/category/horror">Horror</a></li>
                        <li><a href="/category/mythology">Mythology</a></li>
                    </ul>
                </div>
                <div class="Editor">
                    <button><a href="/CreateBlog">Create Blog</a></button>
                </div>
                <div class="Logger">
                    <button><a href="/auth/Login">Log-In</a></button>
                    <button><a href="/auth/Signup">Create Account</a></button>
                </div>
            </section>

